<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div id="counter" class="demo">
    Счётчик: {{ counter }}
  </div>

  <div id="bind-attribute">
    <span v-bind:title="message">
      Наведи 
    </span>
  </div>
  <!--директива v-on-->
  
  <div id="event-handling">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Перевернуть сообщение</button>
  </div>

  <!--Деректива v-model-->
  
  <div id="two-way-binding">
    <p>{{ message }}</p>
    <input v-model="message" />
  </div>

  <!--дириктива v-if -->
<div id="conditional-rendering">
  <span v-if="seen">Сейчас меня видно</span>
</div>

<!--дириктива v-for -->
<div id="list-rendering">
<ol>
  <li v-for="todo in todos">{{
    todo.text }}, мой уровень успеха {{ todo.level }}</li>
</ol>
</div>
<!--<script src="https://unpkg.com/vue@next"></script>-->
    <script src="js/vue.global.js"></script>
    <script src="js/main.js"></script>

</body>
</html>